<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854505201043-ss65sd72l55nksupak1r2iunql3u8eko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854505201043-ss65sd72l55nksupak1r2iunql3u8eko</string>
	<key>API_KEY</key>
	<string>AIzaSyB-vtaUtQ-UCtyILPCJd1ga2KhF0djwnvM</string>
	<key>GCM_SENDER_ID</key>
	<string>854505201043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>weThePeople</string>
	<key>PROJECT_ID</key>
	<string>we-the-people-e376e</string>
	<key>STORAGE_BUCKET</key>
	<string>we-the-people-e376e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854505201043:ios:f20ec34fd95dd30c30dc66</string>
	<key>DATABASE_URL</key>
	<string>https://we-the-people-e376e.firebaseio.com</string>
</dict>
</plist>